---
import SectionContainer from "@/components/SectionContainer.astro"
import { basics} from "@cv"
---

<SectionContainer title="Sobre Mí">
	<div class="w-full h-full">
		<p class="text-white text-pretty">
			{basics.summary}
		</p>
	</div>	
</SectionContainer>