---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Hero from '../components/Hero.astro';
import Header from '../components/Header.astro';
import Badge from '../components/Badge.astro';
import Proyectos from '../components/Proyectos.astro';
import Experiencia from '../components/Experiencia.astro';
import GithubIcon from '../components/icons/GithubIcon.astro';
---

<Layout title="Sergio Fernández Fernández">
	<SectionContainer class="lg:fixed bg-back z-50">
		<Header>
			<Badge>
				<span>Github</span>
			</Badge>
			<Badge class="bg-carrot" link="/sergioffdev.pdf">
				<span>Get My CV</span>
			</Badge>
		</Header>
	</SectionContainer>
	<SectionContainer class="bg_pattern">
		<Hero />
	</SectionContainer>
	<SectionContainer>
		Desarrollador de software con conocimientos en diseño, desarrollo y pruebas de sistemas de software, dominio en desarrollo FullStack con tecnologías React, Tailwind, JavaScript/TypeScript, NextJs, PHP, Bases de datos SQL.
	</SectionContainer>
	<SectionContainer class="bg_pattern">
		<a href="https://www.linkedin.com/in/sergioffdev/" target="_blank" rel="noopener noreferrer">
			<span class="text-3xl text-white uppercase hover:text-carrot font-extrabold">
				Visita mi perfil de Linkedin
			</span>
		</a>.
	</SectionContainer>
	<SectionContainer class="">
		<Proyectos />
	</SectionContainer>
	<SectionContainer>
		<Experiencia />
	</SectionContainer>
</Layout>