---
import Layout from "@/layouts/Layout.astro";
import Projects from "@/components/sections/Projects.astro";
import Hero from "@/components/sections/Hero.astro";
import About from "@/components/sections/About.astro";
import Contact from "@/components/sections/Contact.astro";
import Skills from "@/components/sections/Skills.astro";
import Experience from "@/components/sections/Experience.astro";
import Education from "@/components/sections/Education.astro";
import Header from "@/components/Header.astro";

---

<Layout title="Sergio Fernández Fernández">
	<Hero />
	<main class="w-full flex flex-col items-center">
		<Contact />
		<About />
		<Projects />
		<Experience />
		<Education />
		<Skills />
	</main>
</Layout>
