<div class="flex px-4 py-7">
  <div>
    <div class="bg-red-600 w-11 h-11"></div>
  </div>
  <div>
    <p class="text-white ">
			Desarrollador de software con conocimientos en diseño, desarrollo y pruebas
			de sistemas de software, dominio en desarrollo FullStack con tecnologías
			React, Tailwind, JavaScript/TypeScript, NextJs, PHP, Bases de datos SQL.
		</p>
  </div>
</div>
