---
const { class: className, link: href } = Astro.props;
---

<a
  href={href}
  class={`
	before:transition
	badge
	flex 
	gap-2 
	text-center 
	px-3 
	py-1 
	text-3xl 
	font-medium 
	text-white 
	overflow-hidden
	${className}`}
  target="_blank"
>
  <slot />
</a>

<style>
	.badge{
		position: relative;
	}
	.badge::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transform: translateX(-100%) ;
		opacity: 0.8;
		background-size: 15px 15px;
		background-image: repeating-linear-gradient(
			45deg,
			#ea4125 0,
			#ea4125 3px,
			transparent 0,
			transparent 50%
		);
	}
	.badge:hover::before {
		transform: translateX(0) ;
	}
</style>
