---
const EXPERIENCIA = [
	{
		title: '42 Madrid',
		tipo: 'Estudiante',
		empresa: 'Fundación Telefónica',
		fecha: '2023 - Actualidad',
		descripcion: 'Estudiante de programación en la escuela 42 Madrid'
	},
	{
		title: 'Desarrollador Software',
		tipo: 'Prácticas',
		empresa: 'Wetaxi Madrid',
		fecha: 'Marzo 2023 - Junio 2023',
		descripcion: 'Desarrollo de aplicaciones para la gestión de talleres de reparación de vehículos'
	},
	{
		title: 'Formación Profesional Desarrollo de Aplicaciones Multiplataforma',
		tipo: 'Estudiante',
		empresa: 'Centro Europeo de Estudios Profesionales',
		fecha: '2021 - 2023',
		descripcion: 'Estudiante de FP Desarrollo de Aplicaciones Multiplataforma'
	},
	{
		title: 'Desarrollador Web',
		tipo: 'Prácticas',
		empresa: 'Vortex Dimensión Digital',
		fecha: 'Marzo 2021 - Junio 2021',
		descripcion: 'Desarrollo de paginas web con Wordpress'
	},
	{
		title: 'Formación Profesional Sistemas Microinformáticos y Redes',
		tipo: 'Estudiante',
		empresa: 'CESUR Madrid',
	}
]
---
<div>
	Experiencia

	{
		EXPERIENCIA.map((item, index) => {
			return (
				<div>
					<h3>{item.title}</h3>
					<div class="flex">
						<p>{item.tipo}</p>
						<p>{item.fecha}</p>
					</div>
					<p>{item.empresa}</p>
				</div>
			)
		})
	}
</div>