<div class="">
  <div class="flex justify-center">
    <div class="lg:pt-28 px-8 py-12 flex flex-col gap-2">
      <div>
				<h1 class="text-white font-display uppercase text-7xl bg-carrot font-extrabold table">
					SERGIO FERNÁNDEZ
				</h1>
			</div>
			<div>
				<p class="text-white font-display uppercase text-7xl bg-carrot font-extrabold table">
					42 Estudent
				</p>
			</div>
			<div>
				<p class="text-white font-display uppercase text-7xl bg-carrot font-extrabold table">
					Full Stack Dev
				</p>
			</div>
    </div>
  </div>
</div>
