---
import GithubIcon from "./icons/GithubIcon.astro"



const TAGS = {
	Github: {
		name: "Github",
		icon: GithubIcon
	},
	Next: {
		name: "Next",
		icon: GithubIcon
	},
	Tailwind: {
		name: "Tailwind",
		icon: GithubIcon
	},
	React: {
		name: "React",
		icon: GithubIcon
	},
	Typescript: {
		name: "Typescript",
		icon: GithubIcon
	},
	Node: {
		name: "Node",
		icon: GithubIcon
	}
}

const PROYECTOS = [
	{
		Titulo: "Varbas - Gestión de proyectos en grupo",
		Descripcion: "Varbas es una aplicación web que ayuda a equipos de trabajo a gestionar proyectos y tareas de manera efectiva y eficiente. La aplicación está diseñada para permitir a los equipos crear, asignar, rastrear y completar tareas de manera organizada y colaborativa.",
		Tags: [TAGS.Github, TAGS.Next, TAGS.Tailwind, TAGS.React, TAGS.Typescript, TAGS.Node]
	}
]
---

<div class="flex flex-col">
	<div class="w-full flex justify-center bg_2pattern py-1">
    <h2 class="
			text-white 
			text-5xl 
			font-extrabold
			uppercase
			text_shadow
		">
      Proyectos
    </h2>
  </div>
	<div class="pb-16 pt-7 px-4">
		{
			PROYECTOS.map((proyecto) => (
				<div class="flex flex-col text-white">
					<h3 class="text-3xl font-bold">
						{proyecto.Titulo}
					</h3>
					<p>
						{proyecto.Descripcion}
					</p>
					<div class="flex flex-row gap-4">
						{
							proyecto.Tags.map((tag) => (
								<div class="flex flex-row">
									<p>
										{tag.name}
									</p>
								</div>
							))
						}
					</div>
				</div>
			))
		}
	</div>
</div>