---
const { class: className } = Astro.props;
---

<section class={`flex justify-center w-full`}>
	<div class={`border-white/20 border-x border-b max-w-7xl flex justify-center w-full ${className}`}>
		<slot />
	</div>
</section>
