---
import Header from "@/components/Header.astro";
interface Props {
  title: string;
}
import "@fontsource-variable/inter";
const { title } = Astro.props;

import "@/styles/posts.css"

---

<style is:global>
  html {
    font-family: "Inter Variable", sans-serif;
    background: #161616;
    background: -webkit-linear-gradient(0deg, #161616 0%, #1c092a 100%);
    background: linear-gradient(0deg, #161616 0%, #1c092a 100%);
  }
</style>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="mx-auto flex min-h-screen max-w-[872px] flex-col gap-9 px-10 py-8 text-sm text-neutral-400 md:gap-20 md:py-16"
  >
    <Header />
    <slot />
  </body>
</html>
