---
interface Props {
  title: string;
}
import "@fontsource-variable/inter";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: "Inter Variable", sans-serif;
    background: #13151a;
    background-size: 224px;
		color: white;	
  }
  .bg_pattern {
    background-image: linear-gradient(#c8c9d425 1px, transparent 1px),
      linear-gradient(to right, #c8c9d425 1px, transparent 1px);
    background-size: 10px 10px;
  }
  .bg_2pattern {
    background-size: 25px 25px;
    background-image: repeating-linear-gradient(
      45deg,
      #ea4125 0,
      #ea4125 5px,
      transparent 0,
      transparent 50%
    );
  }
	.text_shadow {
		text-shadow: 0px 0px 12px rgba(0, 0, 0);
	}
</style>
